

body {
    margin: 0;
    padding: 0;
    background-color: #E7F6FF;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 85px auto;
    max-width: 1020px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 60px;
}





